// colors
$bg-color-primary: #0000aa26;
$bg-color-secondary: #f0f0f0;
$color-black: #000;


// font-size
$font-size-large: 30px;
$font-size-medium: 24px;
$font-size-small: 16px;
$font-size-very-small: 10px;


// unit sizes
$four: 4px;
$five: 5px;
$eight: 8px;

// border-radius
$radius: $five;



